html {
  scroll-behavior: smooth;
}
body {
  background: #151515;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.edit-container {
  width: 30%;
}
.edit-container > * {
  padding: 1vh;
}
.edit-image, .edit-desc, .edit-keywords {
  display: flex;
  flex-direction: column;
}
.edit-image > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-image > img {
  max-height: 30vh;
  object-fit: cover;
  width: 95%;
  border-radius: 1vh;
  margin: 3vh auto;
  z-index: 1;
  filter: brightness(.3);
}
label {
  color: gray;
  margin: 1vh 1vh;
}
input, textarea {
  color: white;
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 1vh 1vh;
  background-color: #151515;
  transition: all .3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input:focus, textarea:focus {
  outline:none;
  box-shadow: 0 0 5px gray;
}
.edit-title {
  display: flex;
  flex-direction: column;
}
.edit-container > button {
  text-align: center;
  width: 95%;
  padding: 1vh 0vh;
  margin: 2vh auto;
  display: block;
  border: 2px solid gray;
  border-radius: 1vh;
  background: #FFFFFF15;
  color: white;
  font-weight: 400;
  font-size: medium;
  cursor: pointer;
  transition: all .3s;
}
.edit-container > button:is(:active, :hover){
  box-shadow: 0 0 1vh gray;
}
.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1vh) brightness(.4);
  z-index: 99;
  color: white;
}
.modal > h1 {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vh 5vh;
}
.edit-keywords > div > span, .keywords-input > input {
  background: #101010;
  color: #707070;
  border: 2px solid #707070;
  padding: 1vh 1.5vh;
  border-radius: 2vh;
  margin: 0 .5vh;
  width: fit-content;
}
.edit-keywords {
  display: flex;
  flex-direction: column;
}
.edit-keywords > div {
  gap: 1vh 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.keywords-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.edit-container > h1 {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: large;
}
.nav {
  margin: 0 4vh;
  color: skyblue;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 15vh 24%;
  text-align: center;
  color: white;
  gap: 3Vh;
}
.main-content > h1 {
  font-weight: 300;
}
.main-content > div > h3 {
  font-weight: 500;
  cursor: pointer;
  transition: all .3s;
  padding: 1vh 3vh;
  border: 1px solid transparent;
}
.main-content > div > h3:is(:hover, :active) {
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  background-color: #00000066;
}
.main-content > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content > h1 > font {
  background: linear-gradient(30deg, #0d00e6, #1fc2ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: ruby;
}